<!DOCTYPE html>
<html lang="{{ metadata.site.lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.site.title }}</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    {{ content | safe }}
</body>
</html>